{% extends "/adm/layout_adm.html" %}

{% block head %}
<title>Clientes Cadastrados</title>
<link rel="stylesheet" href="/static/css/layout.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <!--Aqui eu fiz um for pegando os clientes pra exibição, ele pega todos os campos, então você consegue trocar o campo
    a ser exibido. Ex: cliente['id_cliente'],cliente['facebook'],etc-->
    {% for cliente in clientes %}
        <h1>{{cliente['nome']}}</h1><br>
        <h1>{{cliente['telefone']}}</h1><br>
    {% endfor %}
</main>
{% endblock %}