{% extends "layout.html" %}

{% block head %}
    <title>Anna Alves</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}

<main>
    <div class="container_slideshow">
            <article class="sobre">
                <p>Inaugurado em 2010 sob o comando da conceituada cabeleireira Anna Alves.
                Com o intuito de oferecer sempre os melhores serviços, o salão conta com os
                principais produtos do mercado mundial, e um time acolhedor. Sempre procurando
                se atualizar nas tendências e na formação dos profissionais.</p>
            </article>
        {% for post in posts %}
          <p>{{post['embedded']|safe}}</p>
        {% endfor %}
   </div>
</main>
{% endblock %}
